body {
  background-color: #282c34;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  font-size: 20px;
}
.randomUsers {
  text-align: center;
  margin: 30px;
}

pre {
  background-color: aliceblue;
  color: black;
  padding: 20px;
  margin: 30px;
}

img {
  height: 200px;
}
